.auth-cmpnt{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/abstract-envelope.png);
  height: 100vh;
  width: 100%;
}
.auth-div{
  backdrop-filter: blur(60px);
}